* {
  font-family: 'Noto Serif', serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: 2px 2px #f2eaf9;
}

body {
  font: 16px/1.5 "Dosis", sans-serif;
  /* IE FIX */
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper>* {
  padding: 30px 20px 1px 20px;
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-header h1 {
  font-size: 3.3em;
  font-weight: 100;
  text-decoration: none;
  text-shadow: 2px 2px #f2eaf9;
  position: fixed;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

/* NAV */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin-top: 25px;
  padding: 30px;
}

nav ul li:not(:last-child) {
  padding-right: 5px;
}

nav {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 18px;
}

nav ul img {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1.item-heading {
  display: flex;
  justify-content: center;
}

.item-image {
  cursor: pointer;
}

.item-image:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}

/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-main div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  margin: 60px;
}

.page-main h1 {
  margin-bottom: 20px;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-footer {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  text-align: left;
  justify-content: space-around;
  background-color: #f3e5f5;
}

.page-footer ul {
  display: flex;
  font-size: 0.7rem;
}

.page-footer ul li:not(:last-child) {
  margin-right: 30px;
}

/*  */

section p.about {
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 150px;
  padding-top: 70px;
  max-width: 1000px;
}

h1.aboutme {
  padding-left: 50px;
  max-width: 1000px;
}

div.fade-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  opacity: 0;
}

.this span {
  transition: color 1s;
}

.this span:hover {
  transition: color 0s;
}

.this span:nth-child(1n):hover {
  color: gold;
}

.this span:nth-child(2n):hover {
  color: orange;
}

.this span:nth-child(3n):hover {
  color: papayawhip;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    font: 8px/1.5 "Dosis", sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .page-header h1 {
    font-size: 3em;
    font-weight: 100;
    text-decoration: none;
    text-shadow: 2px 2px #f2eaf9;
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .publications p {
    font-size: 0.9em;
    padding-left: 0px;
    max-width: 1000px;
    text-align: justify;
  }
  h2 {
    padding-left: 0px;
    max-width: 1000px;
    font-weight: 100;
  }
  .page-main div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 20px;
  }
  nav {
    font-family: inherit;
    font-size: 8px;
    padding: 0px;
    margin: 0px;
  }
  nav ul {
    /* margin-top: 25px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-top: 0px;
    padding: 30px;
  }
  .page-footer {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    background-color: #f3e5f5;
    padding: 0px;
  }
  .page-footer ul {
    display: flex;
    font-size: 0.5rem;
  }
}

/* NOKIA N9 */

@media only screen and (max-device-width:360px) {
  .page-header h1 {
    font-size: 3em;
    font-weight: 100;
    text-decoration: none;
    text-shadow: 2px 2px #f2eaf9;
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

/*PORTRAIT*/

@media only screen and (max-width: 768px) and (orientation: portrait) {
  /* PORTRAIT:
  	Apple iPad 1,2,3,4,Air, Mini
  	Microsoft Surface
  	HP Touchpad
  	LG Optimus Pad  */
  .page-header h1 {
    font-size: 1.8em;
    font-weight: 100;
    text-decoration: none;
    text-shadow: 2px 2px #f2eaf9;
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .page-main div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 20px;
  }
  nav {
    font-family: inherit;
    font-size: 8px;
    padding: 0px;
    margin: 0px;
  }
  nav ul {
    /* margin-top: 25px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-top: 0px;
    padding: 30px;
  }
  .page-footer {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    background-color: #f3e5f5;
    padding: 0px;
  }
  .page-footer ul {
    display: flex;
    font-size: 0.5rem;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 600px) and (max-width: 1024px) {
  .page-header h1 {
    font-size: 2.5em;
    font-weight: 100;
    text-decoration: none;
    text-shadow: 2px 2px #f2eaf9;
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .page-header h1 {
    text-decoration: none;
    text-shadow: 2px 2px #f2eaf9;
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 480px) and (max-width: 767px) {
  .page-header h1 {
    font-size: 2em;
    font-weight: 100;
    text-decoration: none;
    text-shadow: 2px 2px #f2eaf9;
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/* @media (min-width: 320px) and (max-width: 480px) {



} */
