* {
  font-family: 'Noto Serif', serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: 2px 2px #f2eaf9;
}

body {
  font: 16px/1.5 "Dosis", sans-serif;
  /* IE FIX */
  display: flex;
  flex-direction: column;
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 30px 20px 1px 20px;
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-header h1 {
  font-size: 3.3em;
  font-weight: 100;
  text-decoration: none;
  text-shadow: 2px 2px #f2eaf9;
  position: fixed;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}


/* NAV */

nav {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 300px;

}

nav ul {

display: flex;
flex-wrap: wrap;
justify-content: space-around;
flex-direction: row;

width: 100%;
margin-top: 25px;
padding:30px;

}

nav ul li:not(:last-child) {
  padding-right: 5px;
}

nav {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 18px;
  /* border: 1px solid;
  border-radius: 5px; */
}

nav ul img {
    width: 20vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

h1.item-heading {
  display: flex;
  justify-content: center;
}

.item-image {
  cursor: pointer;
  /* border-style: solid;
  border-color: rgb(131, 228, 100); */
}

.item-image:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}


/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
  display: flex;
    flex-direction: row;
  /* flex-direction: column; */
  justify-content: center;
  /* flex-grow: 1; */
  /* min-height: 650px; */
}

.page-main div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 60px;
}

.page-main h1 {
  margin-bottom: 20px;
}



/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  text-align: left;
    justify-content: space-around;
background-color: #f3e5f5;
}

.page-footer ul {
  display: flex;
  font-size: 0.7rem;

}

.page-footer ul li:not(:last-child) {
  margin-right: 30px;
}
/*  */



section p.about {
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 150px;
  padding-top: 70px;
  max-width: 1000px;
}

h1.aboutme {
  padding-left: 50px;
  max-width: 1000px;
}


.this span {
  transition: color 1s;
}

.this span:hover {
  transition: color 0s;
}

.this span:nth-child(1n):hover {
  color: gold;
}

.this span:nth-child(2n):hover {
  color: orange;
}
.this span:nth-child(3n):hover {
  color: papayawhip;
}



@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      justify-content: center;
      padding: 10px;
    }

    .wrapper > * {
      padding: 10px;
  }

  .page-header h1 {
      font-size: 2.3em;
      font-weight: 100;
      text-decoration: none;
      text-shadow: 2px 2px #f2eaf9;
      position: absolute;
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 50px;
  }


  .page-main div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      max-width: 600px;
      margin: 10px;
          font-size: 1em;
  }

  .page-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    min-height: 50px;
    margin: 0px;
}

/* .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

    h1.item-heading {
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }

    nav ul img {
      width: 20vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-left: 10px;

  }


  .page-footer {
      display: flex;
      flex-direction: column;
      text-align: start;
      justify-content: space-around;
      background-color: #f3e5f5;
  }

  {
