body {
  font-family: 'Noto Serif TC', serif;
  font-size: 13px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #333333;
}


section.name {
    font-size: 5.3em;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    top: 5px;
    padding: 0px 300px 0px 300px;
    /* position: fixed; */
    margin: auto;
    text-shadow: 2px 1px #feeec7;
}

section.name a{
  color: black;
  text-decoration: none;
  text-shadow: 2px 2px #f2eaf9;
}

section {
    padding-top: 10px;
}
section p {
  font-size: 1.5em;
  padding-left: 150px;
  max-width: 1000px;
}

h2 {
  padding-left: 50px;
  max-width: 1000px;
}

h1 {
  padding-left: 50px;
  max-width: 1000px;
}
