body {
  font-family: 'Noto Serif TC', serif;
  font-size: 13px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #333333;
}

h1 {
  display: flex;
  flex-direction: row;
}

/* dropmenu */



.li {

  margin: 8px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: block;
  font-size: 20px;
  color: black;
  transition: 0.2s ease;
  border-left: 1px solid #f2eaf9;
}

ul:hover a {
  opacity: 0.3;

}

ul a:hover {
  opacity: 1;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}


.this span {
  transition: color 1s;
}

.this span:hover {
  transition: color 0s;
}

.this span:nth-child(1n):hover {
  color: gold;
}

.this span:nth-child(2n):hover {
  color: orange;
}
.this span:nth-child(3n):hover {
  color: papayawhip;
}
