.this span {
  transition: color 1s;
}

.this span:hover {
  transition: color 0s;
}

.this span:nth-child(1n):hover {
  color: gold;
}

.this span:nth-child(2n):hover {
  color: orange;
}

.this span:nth-child(3n):hover {
  color: papayawhip;
}

body {
  font-family: 'Noto Serif', serif;
  /* font-size: 16px; */
  font-size: 1.3vw;
  line-height: 1.5;
  background-color: white;
  color: #000000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: 2px 2px #f2eaf9;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 25px;
  /* font-size: 2vw; */
  font-weight: 100;
  text-decoration: none;
  text-shadow: 2px 2px #f2eaf9;
  padding: 30px;
  /* display: block; */
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

section {
  padding: 30px;
  display: block;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

section.developmental {
  background-color: rgb(212, 231, 236);
}

/* section.developmental p{
  max-width: 30em;
} */

section.growth {
  background-color: rgb(117, 151, 130);
}

/* section.growth p {
  max-width: 30em;
} */

section.mating {
  background-color: rgb(251, 173, 110);
}

/*
section .mating p {
max-width: 30em;
} */

section.mitochondrial {
  background-color: rgb(239, 215, 166)
}

/* section.mitochondrial p {
 max-width: 30em;
} */

section.love {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.love p {
  max-width: 1000px;
}

/* NAV */

.nav {
  background-color: white;
}

section nav {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  align-items: center;
  /* padding-top: 20px; */
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  /* margin-top: 25px;
padding:30px; */
}

nav ul li:not(:last-child) {
  padding-right: 5px;
}

nav {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 18px;
  /* border: 1px solid;
  border-radius: 5px; */
}

nav ul img {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1.item-heading {
  display: flex;
  justify-content: center;
}

.item-image {
  cursor: pointer;
  /* border-style: solid;
  border-color: rgb(131, 228, 100); */
}

.item-image:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}

.zh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
  text-shadow: 2px 2px #f2eaf9;
  padding: 10px;
}

/* FOOTER */

.page-footer {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  text-align: left;
  justify-content: space-around;
  background-color: #f3e5f5;
}

.page-footer ul {
  display: flex;
  font-size: 0.9rem;
}

.page-footer ul li:not(:last-child) {
  margin-right: 30px;
}

/* ---------------------------------------------------------------------------- */

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  body {
    font-family: 'Noto Serif', serif;
    /* font-size: 16px; */
    font-size: 3vw;
    width: 100%;
    line-height: 1.5;
    background-color: white;
    color: #000000;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  body {
    font-family: 'Noto Serif', serif;
    /* font-size: 16px; */
    font-size: 3vw;
    width: 85%;
    line-height: 1.5;
    background-color: white;
    color: #000000;
  }
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 3.5vw;
    width: 100%;
    font-weight: 100;
    text-decoration: none;
    text-shadow: 2px 2px #f2eaf9;
    /* padding: 30px; */
    top: 0;
    position: sticky;
    position: -webkit-sticky;
  }
  section {
    width: 100%;
    padding: 30px;
    display: block;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
  }
  .zh {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 9vw;
    font-weight: 100;
    text-decoration: none;
    text-shadow: 2px 2px #f2eaf9;
    padding: 0px;
  }
  nav {
    font-family: inherit;
    font-size: 8px;
    padding: 0px;
    margin: 0px;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
    margin-top: 0px;
    padding: 30px;
  }
  h1.item-heading {
    display: flex;
    justify-content: center;
    font-size: 4vw;
  }
  .page-footer {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    background-color: #f3e5f5;
    padding: 0px;
  }
  .page-footer ul {
    display: flex;
    font-size: 0.5rem;
  }
}
