
* {
  font-family: 'Noto Serif', serif;
    line-height: 1.5;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: 2px 2px #f2eaf9;
}

body {
  font: 16px/1.5 "Dosis", sans-serif;
  /* IE FIX */
  display: flex;
  flex-direction: column;
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px 20px 1px 20px;
}


/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.page-header h1 {

  font-size: 3.3em;
  font-weight: 100;
  text-decoration: none;
  text-shadow: 2px 2px #f2eaf9;
  position: fixed;
padding-top: 0px;
margin-top: 0px;
margin-bottom: 50px;

}

/* NAV */

nav {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 300px;

}

nav ul {

display: flex;
flex-wrap: wrap;
justify-content: space-around;
flex-direction: row;

width: 100%;
margin-top: 25px;
padding:30px;

}

nav ul li:not(:last-child) {
  padding-right: 5px;
}

nav {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 18px;
  /* border: 1px solid;
  border-radius: 5px; */
}

nav ul img {
    width: 20vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

h1.item-heading {
  display: flex;
  justify-content: center;
}

/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
  display: flex;
    flex-direction: row;
  /* flex-direction: column; */
  justify-content: center;
  flex-grow: 1;
  min-height: 550px;
}

.page-main div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 10px;

}

.page-main h1 {
  margin-bottom: 20px;
}



.intro-img{

  width: 20vw;
  max-width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  padding: 10vh;

}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  text-align: left;
    justify-content: space-around;
background-color: #f3e5f5;
}

.page-footer ul {
  display: flex;
  font-size: 0.7rem;

}

.page-footer ul li:not(:last-child) {
  margin-right: 30px;
}


.this span {
  transition: color 1s;
}

.this span:hover {
  transition: color 0s;
}

.this span:nth-child(1n):hover {
  color: gold;
}

.this span:nth-child(2n):hover {
  color: orange;
}
.this span:nth-child(3n):hover {
  color: papayawhip;
}


/*
_________________ MOBILE _________________
*/


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 10px;
  }

  .wrapper > * {
    padding: 20px;
}

.page-main div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: 0px;
}

  .page-header h1 {
      font-size: 2.3em;
      font-weight: 100;
      text-decoration: none;
      text-shadow: 2px 2px #f2eaf9;
      position: fixed;
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 50px;
  }

  .page-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    min-height: 550px;
}

.page-main h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;

}

  .intro-img {
      width: 250px;
      max-width: 100%;
      height: 250px;
      overflow: hidden;
      border-radius: 50%;
      padding: 30px;

  }


/* nav */

  h1.item-heading {
      display: flex;
      justify-content: center;
      font-size: 1rem;
  }

  nav ul img {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;

}

/* footer */

  .page-footer {
      display: flex;
      flex-direction: column;
      text-align: start;
      justify-content: space-around;
      background-color: #f3e5f5;
  }

}
